{% extends 'base.html.twig' %}

{% set cabecera = "WIP | Añadir Cliente" %}
{% set titulo = "Añadir Cliente" %}
{% set subtitulo = "Crear Cliente" %}

{% block body %}
    {# <div class="container">
  {{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
</div> #}

    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
        <div class="row">
            <div class="col-md-12">
                <!--begin::Portlet-->
                <div class="kt-portlet">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Datos del cliente
                            </h3>
                        </div>
                    </div>
                    <!--begin::Form-->
                    {{ form_start(form, {'attr': {'id': 'form_customer'}}) }}
                    {# <form class="kt-form" action="{{ path('crear-cliente') }}" method="POST"> #}
                    <div class="kt-portlet__body">
                        <div class="form-group">
                            <label>Nombre</label>
                            {{ form_errors(form.nombre) }}
                            {{ form_widget(form.nombre,{ 'attr': {
                                'class' : 'form-control',
                            } }) }}
                        </div>
                        <div class="form-group">
                            <label>Alias</label>
                            {{ form_errors(form.alias) }}
                            {{ form_widget(form.alias,{ 'attr': {
                                'class' : 'form-control',
                            } }) }}
                        </div>
                        <div class="form-group">
                            <label>Persona de Contacto</label>
                            {{ form_errors(form.pmnombre) }}
                            {{ form_widget(form.pmnombre,{ 'attr': {
                                'class' : 'form-control',
                            } }) }}
                        </div>

                        {% if status == true %}
                            <div class="invalid-feedback emailcustomer" style="display: block">Este email ya esta en
                                uso
                            </div>
                        {% else %}
                            <div class="invalid-feedback emailcustomer" style="display: block"></div>
                        {% endif %}

                        <div class="form-group">
                            <label>Correo electrónico Contacto</label>
                            {{ form_errors(form.pmmail) }}
                            {{ form_widget(form.pmmail,{ 'attr': {
                                'class' : 'form-control',
                            } }) }}
                        </div>
                        <div class="form-group">
                            <label for="exampleSelect1">Usuarios Asignados</label>
                              {{ form_errors(form.users) }}
                            {{ form_widget(form.users,{ 'attr': {
                                'class' : 'form-control',
                            } }) }}
                             {#  <select id="customer_users" name="customer[users][]" class="kt-dual-listbox form-control" multiple="multiple" required="required"
                                    data-available-title="Source Options" data-selected-title="Destination Options"
                                    data-add="<i class='flaticon2-next'></i>"
                                    data-remove="<i class='flaticon2-back'></i>"
                                    data-add-all="<i class='flaticon2-fast-next'></i>"
                                    data-remove-all="<i class='flaticon2-fast-back'></i>">
                                {% for user in users %}
                                    <option value="{{ user.id }}">{{ user }}</option>
                                {% endfor %}
                            </select>#}
                        </div>
                        <div class="form-group row">
                            <label class="col-3 col-form-label">Activo</label>

                            {{ form_errors(form.estado) }}
                            {{ form_widget(form.estado,{ 'attr': {
                                'class' : 'form-control',
                            } }) }}

                            {# <div class="col-3">
                                        <span class="kt-switch kt-switch--lg">
                                            <label>
                                                {{ form_errors(form.activo) }}
                                                {{ form_widget(form.activo,{ 'attr': {
                                                    'class' : 'form-control',
                                                } }) }}
                                                <span></span>
                                            </label>
                                        </span>
                                    </div> #}
                        </div>
                    </div>
                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions">
                            <button type="submit" class="btn btn-brand">
                                Guardar
                            </button>
                            <button type="reset" class="btn btn-warning">
                                Cancelar
                            </button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                    {# </form> #}
                    <!--end::Form-->
                </div>
                <!--end::Portlet-->
            </div>

        </div>
    </div>

{% endblock %}