{% extends 'base.html.twig' %}

{% set cabecera = "WIP | Añadir Cliente" %}
{% set titulo = "Añadir Cliente" %}
{% set subtitulo = "Crear Cliente" %}

{% block body %}
    {# <div class="container">
  {{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
</div> #}

    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
        <div class="row">
            <div class="col-md-12">
                <!--begin::Portlet-->
                <div class="kt-portlet">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Datos del cliente
                            </h3>
                        </div>
                    </div>
                    <!--begin::Form-->
                    {# {{ form_start(form, {'attr': {'id': 'form_customer'}}) }} #}
                    <form class="kt-form" action="{{ path('crear-cliente') }}" method="POST" id="form_customer">
                        <div class="kt-portlet__body">
                            <div class="form-group">
                                <label>Nombre</label>
                                <input type="text" class="form-control" id="nombrec" required
                                       name="nombre">
                                {# {{ form_errors(form.nombre) }}
                                {{ form_widget(form.nombre,{ 'attr': {
                                    'class' : 'form-control',
                                } }) }} #}
                            </div>
                            <div class="form-group">
                                <label>Alias</label>
                                <input type="text" class="form-control" id="aliasc" required name="alias">
                                {# {{ form_errors(form.alias) }}
                                {{ form_widget(form.alias,{ 'attr': {
                                    'class' : 'form-control',
                                } }) }} #}
                            </div>
                            <div class="form-group">
                                <label>Persona de Contacto</label>
                                <input type="text" class="form-control" id="contactoc" required name="contacto">
                                {# {{ form_errors(form.pmnombre) }}
                                {{ form_widget(form.pmnombre,{ 'attr': {
                                    'class' : 'form-control',
                                } }) }} #}
                            </div>

                            {% if status == true %}
                                <div class="invalid-feedback emailcustomer" style="display: block">Este email ya esta en
                                    uso
                                </div>
                            {% else %}
                                <div class="invalid-feedback emailcustomer" style="display: block"></div>
                            {% endif %}

                            <div class="form-group">
                                <label>Correo electrónico Contacto</label>
                                <input type="email" class="form-control" required aria-describedby="emailHelp"
                                       name="email" id="emailc">

                                {# {{ form_errors(form.pmmail) }}
                                {{ form_widget(form.pmmail,{ 'attr': {
                                    'class' : 'form-control',
                                } }) }} #}
                            </div>
                            <div class="form-group">
                                <label>Usuarios Asociados</label>
                                <select name="users[]" id="selectusers[]" multiple="multiple" class="form-control">
                                    {% for user in users %}
                                        <option value="{{ user.id }}">{{ user.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="col-3 col-form-label">Activo</label>

                                {# {{ form_errors(form.estado) }}
                            {{ form_widget(form.estado,{ 'attr': {
                                'class' : 'form-control',
                            } }) }} #}

                                <div class="col-3">
                                 <span class="kt-switch kt-switch--lg">
                                     <label>
                                         <input type="checkbox" checked="checked" name="activo" id="activoc">
                                         <span></span>
                                     </label>
                                 </span>
                                </div>
                            </div>
                        </div>
                        <div class="kt-portlet__foot">
                            <div class="kt-form__actions">
                                <button type="submit" id="submitcustomer" class="btn btn-brand">
                                    Guardar
                                </button>
                                <button id="cancelar" class="btn btn-warning">
                                    Cancelar
                                </button>
                            </div>
                        </div>
                        {# {{ form_end(form) }} #}
                    </form>
                    <!--end::Form-->
                </div>
                <!--end::Portlet-->
            </div>

        </div>
    </div>

{% endblock %}
