{% extends 'base.html.twig' %}
{% set cabecera = "WIP | Añadir Tests" %}
{% set titulo = "Añadir Test" %}
{% set subtitulo = "Crear Test" %}

{% block body %}
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
        <div class="row">
            <div class="col-md-12">
                <!--begin::Portlet-->
                <div class="kt-portlet">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Datos del Test <small>Test y bloques</small>
                            </h3>
                        </div>
                    </div>
                    <!--begin::Form-->
                    {{ form_start(form,{'attr':{'id':'form_test'}}) }}
                    {# <form class="kt-form"> #}
                    <div class="kt-portlet__body">
                        {# <div class="form-group row">
                            <label for="alias" class="col-lg-3 col-form-label">Alias del Test</label>
                            <div class="col-lg-9">
                                {{ form_errors(form.fecha) }}
                                {{ form_widget(form.fecha,{ 'attr': {
                                    'class' : 'form-control',
                                } }) }}
                            </div>
                        </div> #}
                        <div class="form-group row">
                            <label for="alias" class="col-lg-3 col-form-label">Alias del Test</label>
                            <div class="col-lg-9">
                                {{ form_errors(form.alias) }}
                                {{ form_widget(form.alias,{ 'attr': {
                                    'class' : 'form-control',
                                } }) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="kt_select2_1" class="col-lg-3 col-form-label">Cliente</label>
                            <div class="col-lg-9">
                                {{ form_errors(form.customer) }}
                                {{ form_widget(form.customer,{ 'attr': {
                                    'class' : 'form-control',
                                } }) }}
                            </div>

                        </div>
                        <div class="form-group row">
                            <label for="kt_select2_2" class="col-lg-3 col-form-label">Proyecto</label>
                            <div class="col-lg-9">
                                {{ form_errors(form.project) }}
                                {{ form_widget(form.project,{ 'attr': {
                                    'class' : 'form-control',
                                } }) }}
                            </div>

                        </div>
                        <div class="form-group row">
                            <label for="tipo" class="col-lg-3 col-form-label">Tipo Test</label>
                            <div class="col-lg-9">
                                {{ form_errors(form.tipo) }}
                                {{ form_widget(form.tipo,{ 'attr': {
                                    'class' : 'form-control ',
                                } }) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="usuario" class="col-lg-3 col-form-label">Usuario TEST</label>
                            <div class="col-lg-9">
                                {{ form_errors(form.user) }}
                                {{ form_widget(form.user,{ 'attr': {
                                    'class' : 'form-control',
                                } }) }}
                            </div>
                        </div>

                        <div class="form-group form-group-last row">
                            <div id="kt_repeater_1">
                                <div class="form-group form-group-last row" id="kt_repeater_1">
                                    <label class="col-lg-2 col-form-label">Bloques:</label>
                                    <div data-repeater-list="blocks" class="col-lg-10">
                                        <div id="errorblock" class="failed_block">Es obligatorio crear un bloque como
                                            minimo
                                        </div>
                                        <div data-repeater-item class="form-group row align-items-center">
                                            <div class="col-md-3">
                                                <div class="kt-form__group--inline">
                                                    <div class="kt-form__label">
                                                        <label>Alias:</label>
                                                    </div>
                                                    <div class="kt-form__control">
                                                       {# <div id="failedalias" class="invalid-feedback">Es obligatorio el
                                                            alias
                                                        </div> #}
                                                        {{ form_widget(form.blocks.vars.prototype.alias) }}
                                                    </div>
                                                    {# <div class="kt-form__label">
                                                        <label>Alias:</label>
                                                    </div>
                                                    <div class="kt-form__control">
                                                        <div id="failedalias"></div>
                                                        <input type="text" id="alias" name="alias" class="form-control"
                                                               placeholder="Diseño Mails">
                                                    </div> #}
                                                </div>
                                                <div class="d-md-none kt-margin-b-10"></div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="kt-form__group--inline">
                                                    <div class="kt-form__label">
                                                        <label class="kt-label m-label--single">Posición:</label>
                                                    </div>
                                                    <div class="kt-form__control">
                                                        {#  <div id="failedposition" class="invalid-feedback">Es obligatoria
                                                            la posicion
                                                        </div>#}
                                                        {{ form_widget(form.blocks.vars.prototype.position) }}
                                                    </div>
                                                    {# <div class="kt-form__label">
                                                        <label class="kt-label m-label--single">Posición:</label>
                                                    </div>
                                                    <div class="kt-form__control">
                                                        <div id="failedposition">
                                                        </div>
                                                        <input type="number" id="position" name="position"
                                                               class="form-control"
                                                               placeholder="Ej: 1">
                                                    </div> #}
                                                </div>
                                                <div class="d-md-none kt-margin-b-10"></div>
                                            </div>
                                            <div class="col-md-4">
                                                <label for="exampleSelect1">Bloque Padre
                                                </label>
                                                {{ form_widget(form.blocks.vars.prototype.bloque_padre) }}
                                                {# <label for="exampleSelect1">Bloque Padre
                                                </label>
                                                <div id="failedpadre">
                                                </div>
                                                <select class="form-control" id="exampleSelect1" name="padre">
                                                    <option value="No">No</option>
                                                    <option value="Diseno Avisos">Diseño Avisos</option>
                                                    <option value="Diseño Alertas">Diseño Alertas</option>
                                                </select> #}
                                            </div>
                                            <div class="col-md-3">
                                                <a href="javascript:;" data-repeater-delete=""
                                                   class="btn-sm btn btn-label-danger btn-bold"
                                                   style="margin-top:20px; width: 144px">
                                                    <i class="la la-trash-o"></i> Eliminar Bloque
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-group-last row">
                                    <label class="col-lg-2 col-form-label"></label>
                                    <div class="col-lg-4">
                                        <a href="javascript:;" {# id="addblock" #} data-repeater-create=""
                                           class="btn btn-bold btn-sm btn-label-brand">
                                            <i class="la la-plus"></i> Añadir Bloque
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-group row">
                            <label for="example-date-input" class="col-lg-3 col-form-label">Desactivar
                                Test</label>
                            <div class="col-lg-9">
                                {# {{ form_errors(form.desactivar) }}
                                {{ form_widget(form.desactivar,{ 'attr': {
                                    'class' : 'form-control',
                                } }) }} #}
                                <span class="kt-switch kt-switch--lg">
                                                        <label>
                                                            <input type="checkbox" name="desactivar">
                                                            <span></span>
                                                    </label>
                                                    </span>

                            </div>
                        </div>

                    </div>
                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions">
                            <button type="submit" class="btn btn-brand">Guardar</button>
                            <button id="cancelar" class="btn btn-warning">Cancelar</button>
                        </div>
                    </div>
                    {# </form> #}
                    {{ form_end(form) }}
                    <!--end::Form-->
                </div>
                <!--end::Portlet-->
            </div>

        </div>
        {# <div class="row">
            <div class="col-lg-12">
                <div class="kt-portlet" id="kt_portlet">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title-pages">
                                Bloques del TEST
                            </h3>
                        </div>
                        <div class="kt-portlet__head-toolbar">
                            <div class="kt-portlet__head-wrapper">
                                <div class="kt-portlet__head-actions">
                                    <div class="dropdown dropdown-inline">
                                        <div class="dropdown-menu dropdown-menu-right">

                                        </div>
                                    </div>
                                    &nbsp;
                                    <a href="add-preguntas-tests.html" class="btn btn-brand btn-elevate btn-icon-sm">
                                        <i class="la la-plus"></i> Nueva Pregunta Test
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <!--begin: Datatable -->
                        <table class="table table-striped- table-bordered table-hover table-checkable" id="bloques">
                            <thead>
                            <tr>
                                <th>Posición</th>
                                <th>Alias</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody id="bloquestabla">
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--end::Portlet-->
            </div>
        </div> #}
    </div>
    <!-- end:: Content -->
{% endblock %}
{% block scripts %}
    <script>
        var url_cargar_tests_default = '{{ path('projects_by_user_default') }}';
        var url_cargar_tests = '{{ path('projects_by_user') }}';

        var url_blocks = '{{ path('crear-block') }}';
        var url_consulta_blocks = '{{ path('consulta-blocks') }}';
    </script>
{% endblock %}