{% extends 'base.html.twig' %}
{% set cabecera = "WIP | Añadir Servidor" %}
{% set titulo = "Añadir Servidor" %}
{% set subtitulo = "Crear Servidor nuevo" %}

{% block body %}
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
        <div class="row">
            <div class="col-md-6">
                <!--begin::Portlet-->
                <div class="kt-portlet">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Datos del Servidor
                            </h3>
                        </div>
                    </div>
                    <!--begin::Form-->
                    {{ form_start(form, {'attr': {'id': 'form_server'}}) }}
                    {#  <form class="kt-form">#}
                        <div class="kt-portlet__body">
                            <div class="form-group">
                                <label>Nombre VPS</label>
                                {{ form_errors(form.nombrevps) }}
                                {{ form_widget(form.nombrevps,{ 'attr': {
                                    'class' : 'form-control',
                                } }) }}
                            </div>
                            <div class="form-group">
                                <label>Alias</label>
                                {{ form_errors(form.alias) }}
                                {{ form_widget(form.alias,{ 'attr': {
                                    'class' : 'form-control',
                                } }) }}
                            </div>
                            <div class="form-group">
                                <label>IP</label>
                                {{ form_errors(form.ip) }}
                                {{ form_widget(form.ip,{ 'attr': {
                                    'class' : 'form-control',
                                } }) }}
                            </div>
                            <div class="form-group">
                                <label>URL Acceso</label>
                                {#  {{ form_errors(form.urlacceso) }}
                                {{ form_widget(form.urlacceso,{ 'attr': {
                                    'class' : 'form-control',
                                } }) }}#}
                                <input class="form-control" type="text" name="urltest" required value="{{ server.urlacceso }}">
                            </div>
                            <div class="form-group">
                                <label>Usuario</label>
                                {{ form_errors(form.usuario) }}
                                {{ form_widget(form.usuario,{ 'attr': {
                                    'class' : 'form-control',
                                } }) }}
                            </div>
                            <div class="form-group">
                                <label>PSW</label>
                                {#  {{ form_errors(form.psw.first) }}
                            {{ form_widget(form.psw.first,{ 'attr': {
                                'class' : 'form-control',
                            } }) }}#}
                                <input class="form-control" type="password" id="password" name="password" required value="{{ server.psw }}">
                            </div>
                            <div class="form-group">
                                <label>REPETIR PSW</label>
                                {#  {{ form_errors(form.psw.second) }}
                            {{ form_widget(form.psw.second,{ 'attr': {
                                'class' : 'form-control',
                            } }) }}#}
                                <input class="form-control" type="password" id="passwordrepeated" name="passwordrepeated" required value="{{ server.psw }}">
                            </div>
                            <div class="form-group">
                                <label for="exampleSelect1">Tipo</label>
                                {{ form_errors(form.tipo) }}
                                {{ form_widget(form.tipo,{ 'attr': {
                                    'class' : 'form-control ',
                                } }) }}
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Activo</label>
                                {#  {{ form_errors(form.activo) }}
                                {{ form_widget(form.activo,{ 'attr': {
                                    'class' : 'form-control',
                                } }) }} #}
                                 <div class="col-3">
                                                    <span class="kt-switch kt-switch--lg">
                                                        <label>
                                                            {% if server.activo == true %}
                                                            <input type="checkbox" checked="checked" name="activo">
                                                            {% else %}
                                                                <input type="checkbox" name="activo">
                                                            {% endif %}
                                                            <span></span>
                                                    </label>
                                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="kt-portlet__foot">
                            <div class="kt-form__actions">
                                <button type="submit" class="btn btn-brand">
                                    Guardar
                                </button>
                                <button id="cancelar" class="btn btn-warning">
                                    Cancelar
                                </button>
                            </div>
                        </div>
                    {#  </form> #}
                    {{ form_end(form) }}
                    <!--end::Form-->
                </div>
                <!--end::Portlet-->
            </div>

        </div>
    </div>
{% endblock %}
